<%#
 Copyright 2008 Steven Barth <steven@midlink.org>
 Copyright 2008 Jo-Philipp Wich <jow@openwrt.org>
 Licensed to the public under the Apache License 2.0.
-%>

<h2><a id="content" name="content"><%:Irdroid WiFi%></a></h2>
<p><%_This is the administration area of <abbr title="Configuration Interface">Irdroid WiFi</abbr>.%></p>
<p><%_<abbr title="Irdroid WiFi Web Configuration">Irdroid UI</abbr> is flexible, and user friendly graphical interface for configuring Irdroid WiFi.%><br />
<%:On the following pages you can adjust all important settings of this device.%></p>
<p><%:And now have fun with your Irdroid  device!%></p>


