
body{ 
	background-color: #eee;
	font-family:Arial, Helvetica, sans-serif;
}

#container{
	background-color: #fff;
	border: 1px solid grey;
	border-radius: 5px;
	min-width: 680px;
	margin: 10px;
	padding: 10px;
}

#dataCanvas {
	background-color: #fff;
	border:1px solid grey;
	border-radius: 5px;
	padding: 5px;
	width: 640px;
	height: 260px;
}

#dataLog{
	background-color: #fff;
	border:1px solid grey;
	border-radius: 5px;
	padding: 5px;
	width: 640px;
	height: 260px;
	overflow: auto;
}

#dataLog p {
	margin: 0;
	font-size: 75%;
}
.event{color:#999;}
.warning{
	font-weight:bold;
	color:#CCC;
}
